<footer class="fixed bottom-0 w-full">
  <div class="container mx-auto px-4 flex items-center justify-center">
    <div class="flex flex-col justify-center items-center py-1 select-none">
      <div>
        <p class="text-gray-600">© 2024 Nelfix by VCT</p>
      </div>
      {{!-- <div>
        <p class="text-gray-600">Made with ❤️ by Valentino Chryslie Triadi</p>
      </div> --}}
    </div>
  </div>
</footer>